
<header class="header" data-header>
    <div class="container">

      <div class="overlay" [ngClass]="{'active' : active}" data-overlay></div>

      <div class="header-search">
        <input type="search" name="search" placeholder="Search Title, author, ISBN..." class="input-field">

        <button class="search-btn" aria-label="Search">
            <i class='bx bx-search-alt'></i>
        </button>
      </div>

      <a href="#" class="logo">
        <img src="./assets/images/logo.png" alt="Casmart logo" width="200" height="250">
      </a>

      <div class="header-actions">

        <button class="header-action-btn">
            <i class='bx bx-user'></i>

          <p class="header-action-label">Sign in</p>
        </button>

        <button class="header-action-btn">
            <i class='bx bx-search-alt'></i>

          <p class="header-action-label">Search</p>
        </button>

        <button class="header-action-btn">
            <i class='bx bx-cart-alt' ></i>

          <p class="header-action-label">Cart</p>

          <div class="btn-badge green" aria-hidden="true">3</div>
        </button>

        <button class="header-action-btn">
            <i class='bx bx-heart' ></i>

          <p class="header-action-label">Wishlisht</p>

          <div class="btn-badge" aria-hidden="true">2</div>
        </button>

      </div>

      <button class="nav-open-btn" (click)="setActive()" >
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav class="navbar" [ngClass]="{'active' : active}">

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="./assets/images/logo.png" alt="Casmart logo" width="200" height="250">
          </a>

          <button class="nav-close-btn" (click)="setActive()" >
            <i class='bx bx-x' ></i>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Shop</a>
          </li>

          <li>
            <a href="#" class="navbar-link">About</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link">Blog</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contact</a>
          </li>

        </ul>

      </nav>

    </div>
</header>