<main>
    <article>

<!-- HERO -->

    <section class="hero" id="home" style="background-image: url(./assets/images/hero-banner.png);">
        <div class="container">
            <div class="hero-content">
                <p class="hero-subtitle">Now Available!</p>
                <h2 class="h1 hero-title">
                    THE #2 SUNDAY TIMES AND #1 NYT BESTSELLER
                </h2>
                <button class="btn btn-primary">Shop now</button>
            </div>
        </div>
    </section>

    
<!-- SERVICES -->

    <section class="service">
    <div class="container">

        <ul class="service-list">

        <li class="service-item">
            <div class="service-item-icon">
            <img src="./assets/images/service-icon-1.svg" alt="Service icon">
            </div>

            <div class="service-content">
            <p class="service-item-title">Free Shipping</p>

            <p class="service-item-text">On All Order Over $599</p>
            </div>
        </li>

        <li class="service-item">
            <div class="service-item-icon">
            <img src="./assets/images/service-icon-2.svg" alt="Service icon">
            </div>

            <div class="service-content">
            <p class="service-item-title">Easy Returns</p>

            <p class="service-item-text">30 Day Returns Policy <br><br></p>
            </div>
        </li>

        <li class="service-item">
            <div class="service-item-icon">
            <img src="./assets/images/service-icon-3.svg" alt="Service icon">
            </div>

            <div class="service-content">
            <p class="service-item-title">Secure Payment</p>

            <p class="service-item-text">100% Secure Gaurantee</p>
            </div>
        </li>

        <li class="service-item">
            <div class="service-item-icon">
            <img src="./assets/images/service-icon-4.svg" alt="Service icon">
            </div>

            <div class="service-content">
            <p class="service-item-title">Special Support</p>

            <p class="service-item-text">24/7 Dedicated Support</p>
            </div>
        </li>

        </ul>

    </div>
    </section>

    </article>
</main>