<main>
    <article>

<!-- HERO -->

    <section class="hero" id="home" style="background-image: url(./assets/images/hero-banner.png);">
        <div class="container">
            <div class="hero-content">
                <p class="hero-subtitle">Now Available!</p>
                <h2 class="h1 hero-title">
                    THE #2 SUNDAY TIMES AND #1 NYT BESTSELLER
                </h2>
                <button class="btn btn-primary">Shop now</button>
            </div>
        </div>
    </section>

    </article>
</main>