<main>
    <article>

    <!-- HERO 1 -->

    <section class="hero" id="home" style="background-image: url(./assets/images/hero-banner.png);">
        <div class="container">
            <div class="hero-content">
                <p class="hero-subtitle">Now Available!</p>
                <h2 class="h1 hero-title">
                    THE #2 SUNDAY TIMES AND #1 NYT BESTSELLER
                </h2>
                <button class="btn btn-primary">Shop now</button>
            </div>
        </div>
    </section>

    <!-- RELEASES -->
    
    <section class="section releases">
        <div class="container">
            <h2 class="h2 section-title">
                Featured books | Upcoming Releases
            </h2>

            <div class="cards">
                <div class="card" *ngFor="let release of releases">
                    <div class="imgBx">
                        <img [src]="release.image" alt="{{release.title}}">
                        <ul class="action">
                            <li>
                                <i class='bx bx-file'></i>
                                <span>View details</span>
                            </li>
                            <li>
                                <i class='bx bx-cart-add' aria-hidden="true"></i>
                                <span>Add to cart</span>
                            </li>
                            <li>
                                <i class='bx bx-heart'></i>
                                <span>Add to wishlist</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="productName">
                            <h4 class="h4 card-title">
                                {{release.title}}
                            </h4>
                            <p>
                                {{release.author}}
                            </p>
                        </div>
                        <div class="price_rating">
                            <h2>
                                &pound;{{release.price}}
                            </h2>
                            <p>
                                &pound;{{release.reduced_price}}
                            </p>                    
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- HERO 2 -->

    <section class="hero" id="home" style="background-image: url(./assets/images/hero-banner-002.png);">
        <div class="container">
            <div class="hero-content">
                <p class="hero-subtitle">UK Exclusive Edition</p>
                <h2 class="h1 hero-title">
                    Jannuary 30, 24
                </h2>
                <button class="btn btn-primary">pre-order now</button>
            </div>
        </div>
    </section>

    <!-- BOXSET -->

    <section class="section boxset">
        <div class="container">
            <h2 class="h2 section-title">
                Books Collection Set | Complete Series
            </h2>

            <div class="cards">
                <div class="card" *ngFor="let boxset of boxset">
                    <div class="imgBx">
                        <img [src]="boxset.image" alt="{{boxset.title}}">
                        <ul class="action">
                            <li>
                                <i class='bx bx-file'></i>
                                <span>View details</span>
                            </li>
                            <li>
                                <i class='bx bx-cart-add' aria-hidden="true"></i>
                                <span>Add to cart</span>
                            </li>
                            <li>
                                <i class='bx bx-heart'></i>
                                <span>Add to wishlist</span>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="productName">
                            <h4 class="h4 card-title">
                                {{boxset.title}}
                            </h4>
                            <p>
                                {{boxset.author}}
                            </p>
                        </div>
                        <div class="price_rating">
                            <h2>
                                &pound;{{boxset.price}}
                            </h2>
                            <p>
                                &pound;{{boxset.reduced_price}}
                            </p>                    
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- NEWSLETTER -->
    
    <section class="section newsletter">
        <div class="container">

        <div class="newsletter-card" style="background-image: url('./assets/images/newsletter-bg.png')">

            <h2 class="card-title">Subscribe Newsletter</h2>

            <p class="card-text">
            Enter your email below to be the first to know about new collections and product launches.
            </p>

            <form action="" class="card-form">

            <div class="input-wrapper">
                <i class='bx bx-envelope' ></i>

                <input type="email" name="emal" placeholder="Enter your email" required class="input-field">
            </div>

            <button type="submit" class="btn btn-primary w-100">
                <span>Subscribe</span>
            </button>

            </form>

        </div>

        </div>
    </section>

    </article>
</main>